<aside class="sidebar">
    <div class="widget">
        <form action="" class="formulario">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn" id="enviar">Ingresar</button>
        </form>

        <div class="denuncias">
        
            <img src="./images/dhjkf.jpeg" alt="">
            <button type="submit" class="btn">Trabajo Roy</button>
        </div>
        <!-- <button type="submit" class="btn">Denuncia</button> -->
    </div>
    
    <!--  <div class="widwet">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/grplVttindo?si=gm66eE2hxYnrAlEW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> -->
</aside>
